# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = CrossNox
	email = ijmermet@gmail.com
[pull]
	rebase = false
[diff]
    tool = kitty
    guitool = kitty.gui
[difftool]
    prompt = false
    trustExitCode = true
[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
    cmd = kitty kitty +kitten diff $LOCAL $REMOTE
