# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = CrossNox
	email = ijmermet@gmail.com
	signingkey = DE00948BCCCE8893

[commit]
	gpgSign = true

[pull]
	rebase = false

[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true  # use n and N to move between diff sections
	features = decorations
	minus-style = red bold ul "#ffeeee"
	line-numbers = true
	side-by-side = true
	colorMoved = default

[delta "interactive"]
	keep-plus-minus-markers = false

[delta "decorations"]
	commit-decoration-style = blue ol
	commit-style = raw
	file-style = omit
	hunk-header-decoration-style = blue box
	hunk-header-file-style = red
	hunk-header-line-number-style = "#067a00"
	hunk-header-style = file line-number syntax

[merge]
	conflictstyle = diff3

[credential]
	helper = /usr/lib/git-core/git-credential-libsecret

[init]
	defaultBranch = master

[push]
	autoSetupRemote = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
