[Desktop Entry]
Type=Application
Name=Ultimaker Cura
Comment=Ultimaker Cura
Icon=/home/nox/AppImages/cura-64.png
Exec=/home/nox/AppImages/Ultimaker-Cura.AppImage
Terminal=false
Categories=Design
