[Unit]
Description=Runs Gmail unread notifications for personal account
Wants=gmail-notifications-personal.timer

[Service]
Type=simple
ExecStart=/usr/bin/python .config/polybar/scripts/gmail.py notify-unread dunst/accounts/personal --from-pass --last-seconds 60

[Install]
WantedBy=default.target
