[Unit]
Description=xautolock

[Service]
Type=simple
ExecStart=/usr/bin/xautolock -time 1 -locker ~/.local/bin/noxlock
Restart=always
PIDFile=/run/xautolock.pid

[Install]
WantedBy=default.target
